.user {
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: -10px;
  padding-right: 10px;
  max-width: 180px;
}

.username {
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown {
  border: 1px solid #FFF;
  left: -15px;
  width: calc(100% + 30px);
}

.menuItem {
  font-size: 16px;
  width: 100%;
  background: #6DB3BF;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border: none;
  color: inherit;
  border-bottom: 1px solid #FFF;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.menuItemText {
  color: #FFF;
  margin-left: 5px;
}

.loginBtn {
  background: transparent;
  border: none;
  padding: 5px;
  color: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
