.root {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #22556E;
  padding: 5px 15px;
  margin: 0 -5px;
  &:hover {
    background-color: #94CFC9;
    color: #FFF;
  }
}

.text {
  margin: 0 5px;
}

.id {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: none;
}

.errorInfo {
  flex-grow: 1;
}

.environment {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: none;
}

.createDate {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: none;
}
